# Good and Cheap (BreakoutRoom #2)

This team can utilize all data and any features, but are limited to **only using Random Forest**.

In [9]:
from sklearn.model_selection import train_test_split

In [14]:
import pandas as pd
df = pd.read_csv('Diabetes_Data/diabetes_full_train.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1

In [15]:
# Do your magic!
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 638 entries, 3 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               638 non-null    int64
 1   Glucose                   638 non-null    int64
 2   BloodPressure             638 non-null    int64
 3   SkinThickness             638 non-null    int64
 4   Insulin                   638 non-null    int64
 5   BMI                       638 non-null    float64
 6   DiabetesPedigreeFunction  638 non-null    float64
 7   Age                       638 non-null    int64
 8   Outcome                   638 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 49.8 KB

In [16]:
X = df.drop(['Outcome'], axis=1)
y = df.Outcome

In [74]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y,test_size=.2, random_state=42)

In [73]:
X_train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
100,1,163,72,0,0,39.0,1.222,33
296,2,146,70,38,360,28.0,0.337,29
679,2,101,58,17,265,24.2,0.614,23
250,9,106,52,0,0,31.2,0.380,42
619,0,119,0,0,0,32.4,0.141,24

In [58]:
from sklearn.impute import SimpleImputer 
si = SimpleImputer(missing_values=0, strategy='median')
X_train_imputed = si.fit_transform(X_train.drop(columns = 'Pregnancies'))

In [59]:
preg = X_train['Pregnancies']

In [60]:
type(preg)

pandas.core.series.Series

In [61]:
col = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']
X1 = pd.DataFrame(X_train_imputed, columns = col)
X_train_impute = pd.concat([pd.DataFrame(X_train['Pregnancies']), X1], axis = 1)

In [62]:
X_train_impute.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,NaN,163.0,72.0,29.0,129.0,39.0,1.222,33.0
1,NaN,146.0,70.0,38.0,360.0,28.0,0.337,29.0
2,NaN,101.0,58.0,17.0,265.0,24.2,0.614,23.0
3,1.0,106.0,52.0,29.0,129.0,31.2,0.380,42.0
4,NaN,119.0,72.0,29.0,129.0,32.4,0.141,24.0

In [75]:
X_train['SkinThickness'].replace(0, X_train['SkinThickness'].loc[X_train['SkinThickness'] > 0].median(), inplace = True)
X_train['Insulin'].replace(0, X_train['Insulin'].loc[X_train['Insulin'] > 0].median(), inplace = True)
X_train['BloodPressure'].replace(0, X_train['BloodPressure'].loc[X_train['BloodPressure'] > 0].median(), inplace= True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [76]:
X_train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
100,1,163,72,29,129,39.0,1.222,33
296,2,146,70,38,360,28.0,0.337,29
679,2,101,58,17,265,24.2,0.614,23
250,9,106,52,29,129,31.2,0.380,42
619,0,119,72,29,129,32.4,0.141,24

In [70]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [87]:
rf = RandomForestClassifier()

max_depth_params = range(2, 12)  # values between 2 to 11 total: 10 values

max_features_param = [None, 'sqrt', 'log2', 1, 5]  # total of 4 values

n_estimators = range(0,100,10)


# the names of the params in '' has to be exactly the same as in classifier features.
param_grid = {'max_depth': max_depth_params,
              'max_features': max_features_param,
              'n_estimators': n_estimators}

gridsearch = GridSearchCV(estimator=rf,
                          param_grid=param_grid,
                          n_jobs=-1,  # paralllel computation
                          verbose=1,  # gives feedback
                          cv=5,  # cross-validate, default 5
                          scoring='roc_auc',  # you can use multiple scoring too, default is accuracy
                          return_train_score=True)

gridsearch = gridsearch.fit(X_train, y_train)

Fitting 5 folds for each of 500 candidates, totalling 2500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    5.9s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:   11.5s
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:   21.3s
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:   35.2s
[Parallel(n_jobs=-1)]: Done 1234 tasks      | elapsed:   49.6s
[Parallel(n_jobs=-1)]: Done 1784 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 2434 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 2500 out of 2500 | elapsed:  1.5min finished

In [77]:
gridsearch.best_params_

{'max_depth': 4, 'max_features': 'log2', 'n_estimators': 90}

In [88]:
gridsearch.best_params_

{'max_depth': 3, 'max_features': 'sqrt', 'n_estimators': 60}

In [89]:
# Then use your model to predict the outcomes of the holdout_df
holdout_df = pd.read_csv('Diabetes_data/holdout_df.csv')

In [90]:
holdout_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
540,8,100,74,40,215,39.4,0.661,43
307,0,137,68,14,148,24.8,0.143,21
745,12,100,84,33,105,30.0,0.488,46
691,13,158,114,0,0,42.3,0.257,44
564,0,91,80,0,0,32.4,0.601,27

In [91]:
holdout_df['SkinThickness'].replace(0, holdout_df['SkinThickness'].loc[holdout_df['SkinThickness'] > 0].median(), inplace = True)
holdout_df['Insulin'].replace(0, holdout_df['Insulin'].loc[holdout_df['Insulin'] > 0].median(), inplace = True)
holdout_df['BloodPressure'].replace(0, holdout_df['BloodPressure'].loc[holdout_df['BloodPressure'] > 0].median(), inplace= True)

In [82]:
gridsearch.best_estimator_.predict(holdout_df)

array([0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

In [99]:
result = gridsearch.best_estimator_.predict(holdout_df)

In [100]:
result>0

array([False, False, False,  True, False, False, False, False, False,
        True, False, False, False, False,  True, False, False,  True,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
        True, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False,  True,
       False, False, False, False, False, False, False, False,  True,
       False, False, False,  True, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False])

In [93]:
# And store those outcomes in the 'Outcome' column of this submission_df 
submission_df = pd.read_csv('Diabetes_Data/submission_df.csv')

In [94]:
submission_df.head()

   Unnamed: 0  Outcome
0         540      NaN
1         307      NaN
2         745      NaN
3         691      NaN
4         564      NaN

In [95]:
submission_df.Outcome = gridsearch.best_estimator_.predict(holdout_df)

In [98]:
submission_df

     Unnamed: 0  Outcome
0           540        0
1           307        0
2           745        0
3           691        1
4           564        0
..          ...      ...
125         309        0
126         467        0
127         755        0
128         305        0
129         356        0

[130 rows x 2 columns]

In [101]:
submission_df.to_pickle('submission_group2.pkl')