![sql](img/sql-logo.jpg)

# A beginner's guide to databases, SQL, & using them with `pandas`

**Scenario:** You are a data analyst for the Homeland Security, trying to create reports on the active airports world wide. The data you need to access is in a SQL database. YOu need to be able to query for the data in a database!

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use `JOIN` to merge tables along logical columns
    - Grouping Data with SQL, inlcuding `HAVING`
- Goal 5: Convert SQL to pandas

## Goal 1: Summarize

To date the data we've seen has looked like [this.](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm)

That is how we need data to look to run analysis and build models.<br>
But it doesn't _live_ there in it's native state.

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

## What does it mean to **Engineer Data**?

Let's start with a basic scenario:<br>
You are HR. You have *no* current database. 
How would you set it up?

Data needs considerations:
- What you want to store
- What "views" you anticipate wanting in the future

Structure considerations:
- Speed of retrieval
- How much data you are accessing
- How much you are storing

![etl](img/etl.png)

[img source: Jeff Hammerbacher’s slide from UC Berkeley CS 194 course ](https://bcourses.berkeley.edu/courses/1377158/pages/cs-194-16-introduction-to-data-science-fall-2015)

### What is a Relational Database? 

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
### SQL Readings

[History of SQL](https://www.businessnewsdaily.com/5804-what-is-sql.html)

[The original SQL paper from the 1970s.](https://www.seas.upenn.edu/~zives/03f/cis550/codd.pdf)

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

***
### SQLite

<img src="img/SQLite-Python.jpg" width=500>

- C library (fast)
- lightweight disk-based database
- that doesn’t require a separate server process
- nonstandard variant of the SQL query language
- applications can use SQLite for internal data storage
- use case: prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle

[sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## But what about connecting to database servers?

To connect to other database types there are many different libraries:
- Oracle: [cx_Oracle](https://oracle.github.io/python-cx_Oracle/)
- MySQL: [MySQL-python](https://github.com/farcepest/MySQLdb1)
- PostgreSQL: [Psycopg2](http://initd.org/psycopg/docs/)
- Microsoft SQL Server: [pymssql](http://www.pymssql.org/en/stable/)

These all implement [PEP 249: DB API v2](https://www.python.org/dev/peps/pep-0249/)

## Goal 3: Get going with sqlite!

In [2]:
import sqlite3

#### Load a DB object with `connect` and `cursor`

In [3]:
con = sqlite3.connect('data/flights.db') #connection object
cursor = con.cursor() #create a cursor

In [4]:
!head data/flights.db

SQLite format 3   @     	  �                                                            	 -�        s�o �                �f�%tableroutesroutesqCREATE TABLE routes (
[index] INTEGER,
  [airline] TEXT,
  [airline_id] TEXT,
  [source] TEXT,
  [source_id] TEXT,
  [dest] TEXT,
  [dest_id] TEXT,
  [codeshare] TEXT,
  [stops] TEXT,

In [5]:
cursor.

SyntaxError: invalid syntax (<ipython-input-5-88bfe616d864>, line 1)

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

In [6]:
cursor.execute("SELECT name, type FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('airports', 'table'), ('airlines', 'table'), ('routes', 'table')]

In [7]:
cursor.description

(('name', None, None, None, None, None, None),
 ('type', None, None, None, None, None, None))

In [8]:
# The Nones are only there to comply with the PEP 249 convention.

In [9]:
cursor.execute("SELECT name, type FROM sqlite_master;")
print(cursor.fetchall())

[('airports', 'table'), ('ix_airports_index', 'index'), ('airlines', 'table'), ('ix_airlines_index', 'index'), ('routes', 'table'), ('ix_routes_index', 'index')]

In [10]:
cursor.execute("SELECT * FROM sqlite_master;")
results = cursor.fetchall()
for res in results:
    print(res)

('table', 'airports', 'airports', 2, 'CREATE TABLE airports (\n[index] INTEGER,\n  [id] TEXT,\n  [name] TEXT,\n  [city] TEXT,\n  [country] TEXT,\n  [code] TEXT,\n  [icao] TEXT,\n  [latitude] TEXT,\n  [longitude] TEXT,\n  [altitude] TEXT,\n  [offset] TEXT,\n  [dst] TEXT,\n  [timezone] TEXT\n)')
('index', 'ix_airports_index', 'airports', 3, 'CREATE INDEX ix_airports_index ON airports ([index])')
('table', 'airlines', 'airlines', 945, 'CREATE TABLE airlines (\n[index] INTEGER,\n  [id] TEXT,\n  [name] TEXT,\n  [alias] TEXT,\n  [iata] TEXT,\n  [icao] TEXT,\n  [callsign] TEXT,\n  [country] TEXT,\n  [active] TEXT\n)')
('index', 'ix_airlines_index', 'airlines', 946, 'CREATE INDEX ix_airlines_index ON airlines ([index])')
('table', 'routes', 'routes', 1393, 'CREATE TABLE routes (\n[index] INTEGER,\n  [airline] TEXT,\n  [airline_id] TEXT,\n  [source] TEXT,\n  [source_id] TEXT,\n  [dest] TEXT,\n  [dest_id] TEXT,\n  [codeshare] TEXT,\n  [stops] TEXT,\n  [equipment] TEXT\n)')
('index', 'ix_routes_index', 'routes', 1394, 'CREATE INDEX ix_routes_index ON routes ([index])')

In [11]:
cursor.description
# We got all 5 columns because we put the * in query.

(('type', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('tbl_name', None, None, None, None, None, None),
 ('rootpage', None, None, None, None, None, None),
 ('sql', None, None, None, None, None, None))

In [12]:
cursor.execute("SELECT name, type, rootpage FROM sqlite_master;")
results = cursor.fetchall()
for res in results:
    print(res)

('airports', 'table', 2)
('ix_airports_index', 'index', 3)
('airlines', 'table', 945)
('ix_airlines_index', 'index', 946)
('routes', 'table', 1393)
('ix_routes_index', 'index', 1394)

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [15]:
cursor.execute("SELECT * FROM airports").fetchone()

(0,
 '1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U',
 'Pacific/Port_Moresby')

In [21]:
cursor.fetchone()
# The cursor moves through rows as it retrieves data.

(8,
 '9',
 'Sondre Stromfjord',
 'Sondrestrom',
 'Greenland',
 'SFJ',
 'BGSF',
 '67.016969',
 '-50.689325',
 '165',
 '-3',
 'E',
 'America/Godthab')

In [23]:
cursor.fetchmany(4)

[(13,
  '14',
  'Husavik',
  'Husavik',
  'Iceland',
  'HZK',
  'BIHU',
  '65.952328',
  '-17.425978',
  '48',
  '0',
  'N',
  'Atlantic/Reykjavik'),
 (14,
  '15',
  'Isafjordur',
  'Isafjordur',
  'Iceland',
  'IFJ',
  'BIIS',
  '66.058056',
  '-23.135278',
  '8',
  '0',
  'N',
  'Atlantic/Reykjavik'),
 (15,
  '16',
  'Keflavik International Airport',
  'Keflavik',
  'Iceland',
  'KEF',
  'BIKF',
  '63.985',
  '-22.605556',
  '171',
  '0',
  'N',
  'Atlantic/Reykjavik'),
 (16,
  '17',
  'Patreksfjordur',
  'Patreksfjordur',
  'Iceland',
  'PFJ',
  'BIPA',
  '65.555833',
  '-23.965',
  '11',
  '0',
  'N',
  'Atlantic/Reykjavik')]

In [31]:
for row in cursor.fetchmany(4):
    print('\t'.join([str(x) for x in row]))

37	38	Coronation	Coronation	Canada	YCT	CYCT	52.075001	-111.445278	2595	-7	A	America/Edmonton
38	39	Chilliwack	Chilliwack	Canada	YCW	CYCW	49.152779	-121.93889	32	-8	A	America/Vancouver
39	40	Clyde River	Clyde River	Canada	YCY	CYCY	70.486111	-68.516667	87	-5	A	America/Toronto
40	41	Fairmont Hot Springs	Coral Harbour	Canada	YZS	CYCZ	64.193333	-83.359444	2661	-5	A	America/Coral_Harbour

#### Use description

In [20]:
cursor.description

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('code', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('latitude', None, None, None, None, None, None),
 ('longitude', None, None, None, None, None, None),
 ('altitude', None, None, None, None, None, None),
 ('offset', None, None, None, None, None, None),
 ('dst', None, None, None, None, None, None),
 ('timezone', None, None, None, None, None, None))

#### Or use `Pragma`
`Pragma` tool [link here](https://www.sqlite.org/pragma.html#pragma_table_info)

**output**<br>
`(column id, column name, data type, whether or not the column can be NULL, and the default value for the column)`

In [32]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
(4, 'country', 'TEXT', 0, None, 0)
(5, 'code', 'TEXT', 0, None, 0)
(6, 'icao', 'TEXT', 0, None, 0)
(7, 'latitude', 'TEXT', 0, None, 0)
(8, 'longitude', 'TEXT', 0, None, 0)
(9, 'altitude', 'TEXT', 0, None, 0)
(10, 'offset', 'TEXT', 0, None, 0)
(11, 'dst', 'TEXT', 0, None, 0)
(12, 'timezone', 'TEXT', 0, None, 0)

In [33]:
# unpacking a tuple:
x, y = (1,2)
type(x)

int

In [36]:
z = (1,2)
print(z)
print(z[0],z[1])

(1, 2)
1 2

In [40]:
print(*z)
print(*z, sep = '\n'+'~'*15 +'\n')

1 2
1
~~~~~~~~~~~~~~~
2

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

**Task:** Get the descriptive data for airlines and routes tables

In [ ]:
cursor.execute("PRAGMA table_info(airlines)")
info = cursor.fetchall()
print(*info, sep = "\n")

In [ ]:
cursor.execute("PRAGMA table_info(routes)")
info = cursor.fetchall()
print(*info, sep = "\n")

***
## Goal 4: Use basic SQL commands

### The Structure of a SQL Query

<img src='img/sql_statement.jpg'/>

### Constructing SQL queries

**`SELECT`**:  The columns you want
  - options: `DISTINCT`, using `AS` to rename columns, single number aggregates

**`FROM`:** the source tables
  - options: also uses aliasing with `AS`; joining with `[LEFT|INNER|RIGHT|FULL] JOIN ___ [ON|USING]`

**`WHERE`**: your filters
  - options: comparators like `=` & `>=`; `BETWEEN`, `IN`, `LIKE` (with wildcards `%`); booleans like `AND`, `OR`, `NOT`

**`ORDER BY`**: sorting
  - options: `ASC` (default) and `DESC`

**`LIMIT`**:  # of rows to return (pair with `OFFSET`)

**Task**: 
- Select only active airlines in the UK from the airlines table
- Select the unique list of countries with airports

In [42]:
cursor.execute("""SELECT name
FROM airlines 
WHERE active = 'Y' 
AND country = 'United Kingdom'
ORDER BY lower(name)
""")
cursor.fetchall()

[('AD Aviation',),
 ('Air Cudlua',),
 ('Air Foyle',),
 ('Air Southwest',),
 ('Air Wales',),
 ('All Europe',),
 ('Astraeus',),
 ('Aurigny Air Services',),
 ('BA CityFlyer',),
 ('BBN-Airways',),
 ('bmi',),
 ('bmibaby',),
 ('British Airways',),
 ('British International Helicopters',),
 ('British Mediterranean Airways',),
 ('British Midland Regional',),
 ('CB Airways UK ( Interliging Flights )',),
 ('Crest Aviation',),
 ('Eastern Airways',),
 ('easyJet',),
 ('Excel Airways',),
 ('Excel Charter',),
 ('First Choice Airways',),
 ('Flightline',),
 ('Flybe',),
 ('Flyglobespan',),
 ('GB Airways',),
 ('Highland Airways',),
 ('Jc royal.britannica',),
 ('Jet2.com',),
 ('Kinloss Flying Training Unit',),
 ('Monarch Airlines',),
 ('MyTravel Airways',),
 ('Norfolk County Flight College',),
 ('Rainbow Air Euro',),
 ('Royal European Airlines',),
 ('ScotAirways',),
 ('Thomas Cook Airlines',),
 ('Thomsonfly',),
 ('Virgin Atlantic Airways',)]

In [43]:
# Select the unique list of countries with airports
# method 1: use DISTINCT
cursor.execute("""SELECT DISTINCT(country)
FROM airports
ORDER BY 1
""")
print(*cursor.fetchall(), sep = '\n')
# The trailing , in result is Python showing the tuple only has 1 element.

('Afghanistan',)
('Albania',)
('Algeria',)
('American Samoa',)
('Angola',)
('Anguilla',)
('Antarctica',)
('Antigua and Barbuda',)
('Argentina',)
('Armenia',)
('Aruba',)
('Australia',)
('Austria',)
('Azerbaijan',)
('Bahamas',)
('Bahrain',)
('Bangladesh',)
('Barbados',)
('Belarus',)
('Belgium',)
('Belize',)
('Benin',)
('Bermuda',)
('Bhutan',)
('Bolivia',)
('Bosnia and Herzegovina',)
('Botswana',)
('Brazil',)
('British Indian Ocean Territory',)
('British Virgin Islands',)
('Brunei',)
('Bulgaria',)
('Burkina Faso',)
('Burma',)
('Burundi',)
('Cambodia',)
('Cameroon',)
('Canada',)
('Cape Verde',)
('Cayman Islands',)
('Central African Republic',)
('Chad',)
('Chile',)
('China',)
('Christmas Island',)
('Cocos (Keeling) Islands',)
('Colombia',)
('Comoros',)
('Congo (Brazzaville)',)
('Congo (Kinshasa)',)
('Cook Islands',)
('Costa Rica',)
("Cote d'Ivoire",)
('Croatia',)
('Cuba',)
('Cyprus',)
('Czech Republic',)
('Denmark',)
('Djibouti',)
('Dominica',)
('Dominican Republic',)
('East Timor',)
('Ecuador',)
('Egypt',)
('El Salvador',)
('Equatorial Guinea',)
('Eritrea',)
('Estonia',)
('Ethiopia',)
('Falkland Islands',)
('Faroe Islands',)
('Fiji',)
('Finland',)
('France',)
('French Guiana',)
('French Polynesia',)
('Gabon',)
('Gambia',)
('Georgia',)
('Germany',)
('Ghana',)
('Gibraltar',)
('Greece',)
('Greenland',)
('Grenada',)
('Guadeloupe',)
('Guam',)
('Guatemala',)
('Guernsey',)
('Guinea',)
('Guinea-Bissau',)
('Guyana',)
('Haiti',)
('Honduras',)
('Hong Kong',)
('Hungary',)
('Iceland',)
('India',)
('Indonesia',)
('Iran',)
('Iraq',)
('Ireland',)
('Isle of Man',)
('Israel',)
('Italy',)
('Jamaica',)
('Japan',)
('Jersey',)
('Johnston Atoll',)
('Jordan',)
('Kazakhstan',)
('Kenya',)
('Kiribati',)
('Korea',)
('Kuwait',)
('Kyrgyzstan',)
('Laos',)
('Latvia',)
('Lebanon',)
('Lesotho',)
('Liberia',)
('Libya',)
('Lithuania',)
('Luxembourg',)
('Macau',)
('Macedonia',)
('Madagascar',)
('Malawi',)
('Malaysia',)
('Maldives',)
('Mali',)
('Malta',)
('Marshall Islands',)
('Martinique',)
('Mauritania',)
('Mauritius',)
('Mayotte',)
('Mexico',)
('Micronesia',)
('Midway Islands',)
('Moldova',)
('Monaco',)
('Mongolia',)
('Montenegro',)
('Montserrat',)
('Morocco',)
('Mozambique',)
('Myanmar',)
('Namibia',)
('Nauru',)
('Nepal',)
('Netherlands',)
('Netherlands Antilles',)
('New Caledonia',)
('New Zealand',)
('Nicaragua',)
('Niger',)
('Nigeria',)
('Niue',)
('Norfolk Island',)
('North Korea',)
('Northern Mariana Islands',)
('Norway',)
('Oman',)
('Pakistan',)
('Palau',)
('Palestine',)
('Panama',)
('Papua New Guinea',)
('Paraguay',)
('Peru',)
('Philippines',)
('Poland',)
('Portugal',)
('Puerto Rico',)
('Qatar',)
('Reunion',)
('Romania',)
('Russia',)
('Rwanda',)
('Saint Helena',)
('Saint Kitts and Nevis',)
('Saint Lucia',)
('Saint Pierre and Miquelon',)
('Saint Vincent and the Grenadines',)
('Samoa',)
('Sao Tome and Principe',)
('Saudi Arabia',)
('Senegal',)
('Serbia',)
('Seychelles',)
('Sierra Leone',)
('Singapore',)
('Slovakia',)
('Slovenia',)
('Solomon Islands',)
('Somalia',)
('South Africa',)
('South Georgia and the Islands',)
('South Korea',)
('South Sudan',)
('Spain',)
('Sri Lanka',)
('Sudan',)
('Suriname',)
('Svalbard',)
('Swaziland',)
('Sweden',)
('Switzerland',)
('Syria',)
('Taiwan',)
('Tajikistan',)
('Tanzania',)
('Thailand',)
('Togo',)
('Tonga',)
('Trinidad and Tobago',)
('Tunisia',)
('Turkey',)
('Turkmenistan',)
('Turks and Caicos Islands',)
('Tuvalu',)
('Uganda',)
('Ukraine',)
('United Arab Emirates',)
('United Kingdom',)
('United States',)
('Uruguay',)
('Uzbekistan',)
('Vanuatu',)
('Venezuela',)
('Vietnam',)
('Virgin Islands',)
('Wake Island',)
('Wallis and Futuna',)
('West Bank',)
('Western Sahara',)
('Yemen',)
('Zambia',)
('Zimbabwe',)

In [ ]:
# method 2: use GROUP BY
cursor.execute("""SELECT country
FROM airports
GROUP BY 1
ORDER BY 1
""")
print(*cursor.fetchall(), sep = '\n')

In [44]:
cursor.execute("""SELECT country, 
                         count(*) AS airport_count
FROM airports
GROUP BY 1
ORDER BY 1
""")
print(*cursor.fetchall(), sep = '\n')

('Afghanistan', 21)
('Albania', 1)
('Algeria', 44)
('American Samoa', 3)
('Angola', 26)
('Anguilla', 1)
('Antarctica', 19)
('Antigua and Barbuda', 2)
('Argentina', 103)
('Armenia', 4)
('Aruba', 1)
('Australia', 263)
('Austria', 29)
('Azerbaijan', 11)
('Bahamas', 37)
('Bahrain', 2)
('Bangladesh', 13)
('Barbados', 1)
('Belarus', 9)
('Belgium', 34)
('Belize', 12)
('Benin', 1)
('Bermuda', 2)
('Bhutan', 1)
('Bolivia', 27)
('Bosnia and Herzegovina', 4)
('Botswana', 29)
('Brazil', 213)
('British Indian Ocean Territory', 1)
('British Virgin Islands', 2)
('Brunei', 3)
('Bulgaria', 7)
('Burkina Faso', 2)
('Burma', 43)
('Burundi', 1)
('Cambodia', 13)
('Cameroon', 10)
('Canada', 435)
('Cape Verde', 7)
('Cayman Islands', 3)
('Central African Republic', 3)
('Chad', 7)
('Chile', 38)
('China', 219)
('Christmas Island', 1)
('Cocos (Keeling) Islands', 1)
('Colombia', 72)
('Comoros', 4)
('Congo (Brazzaville)', 3)
('Congo (Kinshasa)', 36)
('Cook Islands', 8)
('Costa Rica', 29)
("Cote d'Ivoire", 7)
('Croatia', 14)
('Cuba', 30)
('Cyprus', 5)
('Czech Republic', 27)
('Denmark', 28)
('Djibouti', 3)
('Dominica', 3)
('Dominican Republic', 14)
('East Timor', 3)
('Ecuador', 38)
('Egypt', 25)
('El Salvador', 2)
('Equatorial Guinea', 2)
('Eritrea', 3)
('Estonia', 9)
('Ethiopia', 32)
('Falkland Islands', 5)
('Faroe Islands', 3)
('Fiji', 17)
('Finland', 51)
('France', 233)
('French Guiana', 22)
('French Polynesia', 36)
('Gabon', 14)
('Gambia', 1)
('Georgia', 5)
('Germany', 321)
('Ghana', 6)
('Gibraltar', 1)
('Greece', 60)
('Greenland', 29)
('Grenada', 3)
('Guadeloupe', 7)
('Guam', 2)
('Guatemala', 10)
('Guernsey', 2)
('Guinea', 6)
('Guinea-Bissau', 2)
('Guyana', 14)
('Haiti', 14)
('Honduras', 11)
('Hong Kong', 13)
('Hungary', 15)
('Iceland', 22)
('India', 140)
('Indonesia', 114)
('Iran', 81)
('Iraq', 10)
('Ireland', 25)
('Isle of Man', 1)
('Israel', 16)
('Italy', 92)
('Jamaica', 7)
('Japan', 131)
('Jersey', 1)
('Johnston Atoll', 1)
('Jordan', 6)
('Kazakhstan', 28)
('Kenya', 55)
('Kiribati', 18)
('Korea', 1)
('Kuwait', 2)
('Kyrgyzstan', 4)
('Laos', 11)
('Latvia', 3)
('Lebanon', 2)
('Lesotho', 3)
('Liberia', 3)
('Libya', 21)
('Lithuania', 8)
('Luxembourg', 1)
('Macau', 4)
('Macedonia', 2)
('Madagascar', 45)
('Malawi', 8)
('Malaysia', 47)
('Maldives', 42)
('Mali', 8)
('Malta', 8)
('Marshall Islands', 32)
('Martinique', 4)
('Mauritania', 10)
('Mauritius', 2)
('Mayotte', 1)
('Mexico', 94)
('Micronesia', 5)
('Midway Islands', 1)
('Moldova', 3)
('Monaco', 1)
('Mongolia', 13)
('Montenegro', 2)
('Montserrat', 2)
('Morocco', 22)
('Mozambique', 22)
('Myanmar', 1)
('Namibia', 19)
('Nauru', 1)
('Nepal', 36)
('Netherlands', 42)
('Netherlands Antilles', 8)
('New Caledonia', 11)
('New Zealand', 56)
('Nicaragua', 11)
('Niger', 7)
('Nigeria', 26)
('Niue', 1)
('Norfolk Island', 1)
('North Korea', 5)
('Northern Mariana Islands', 3)
('Norway', 69)
('Oman', 6)
('Pakistan', 46)
('Palau', 3)
('Palestine', 1)
('Panama', 26)
('Papua New Guinea', 57)
('Paraguay', 8)
('Peru', 43)
('Philippines', 64)
('Poland', 34)
('Portugal', 39)
('Puerto Rico', 15)
('Qatar', 3)
('Reunion', 10)
('Romania', 26)
('Russia', 249)
('Rwanda', 3)
('Saint Helena', 1)
('Saint Kitts and Nevis', 3)
('Saint Lucia', 3)
('Saint Pierre and Miquelon', 2)
('Saint Vincent and the Grenadines', 5)
('Samoa', 4)
('Sao Tome and Principe', 2)
('Saudi Arabia', 42)
('Senegal', 9)
('Serbia', 4)
('Seychelles', 11)
('Sierra Leone', 8)
('Singapore', 6)
('Slovakia', 10)
('Slovenia', 5)
('Solomon Islands', 27)
('Somalia', 11)
('South Africa', 103)
('South Georgia and the Islands', 2)
('South Korea', 31)
('South Sudan', 2)
('Spain', 84)
('Sri Lanka', 15)
('Sudan', 18)
('Suriname', 23)
('Svalbard', 4)
('Swaziland', 1)
('Sweden', 86)
('Switzerland', 53)
('Syria', 6)
('Taiwan', 32)
('Tajikistan', 5)
('Tanzania', 27)
('Thailand', 58)
('Togo', 2)
('Tonga', 6)
('Trinidad and Tobago', 2)
('Tunisia', 13)
('Turkey', 77)
('Turkmenistan', 8)
('Turks and Caicos Islands', 6)
('Tuvalu', 1)
('Uganda', 9)
('Ukraine', 33)
('United Arab Emirates', 19)
('United Kingdom', 210)
('United States', 1697)
('Uruguay', 13)
('Uzbekistan', 12)
('Vanuatu', 29)
('Venezuela', 58)
('Vietnam', 30)
('Virgin Islands', 8)
('Wake Island', 1)
('Wallis and Futuna', 2)
('West Bank', 1)
('Western Sahara', 3)
('Yemen', 11)
('Zambia', 13)
('Zimbabwe', 16)

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

<img src="img/venn.png" width=550>

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

In [45]:
cursor.execute("""
SELECT r.*, a.latitude AS source_lat, a.longitude AS source_long
FROM routes r
JOIN airports a
ON r.source_id = a.id
""")
print(*cursor.fetchmany(10), sep='\n')

(0, '2B', '410', 'AER', '2965', 'KZN', '2990', None, '0', 'CR2', '43.449928', '39.956589')
(1, '2B', '410', 'ASF', '2966', 'KZN', '2990', None, '0', 'CR2', '46.283333', '48.006278')
(2, '2B', '410', 'ASF', '2966', 'MRV', '2962', None, '0', 'CR2', '46.283333', '48.006278')
(3, '2B', '410', 'CEK', '2968', 'KZN', '2990', None, '0', 'CR2', '55.305836', '61.503333')
(4, '2B', '410', 'CEK', '2968', 'OVB', '4078', None, '0', 'CR2', '55.305836', '61.503333')
(5, '2B', '410', 'DME', '4029', 'KZN', '2990', None, '0', 'CR2', '55.408611', '37.906111')
(6, '2B', '410', 'DME', '4029', 'NBC', '6969', None, '0', 'CR2', '55.408611', '37.906111')
(7, '2B', '410', 'DME', '4029', 'TGK', '\\N', None, '0', 'CR2', '55.408611', '37.906111')
(8, '2B', '410', 'DME', '4029', 'UUA', '6160', None, '0', 'CR2', '55.408611', '37.906111')
(9, '2B', '410', 'EGO', '6156', 'KGD', '2952', None, '0', 'CR2', '50.6438', '36.5901')

In [46]:
cursor.execute("""
SELECT r.*, 
	source.latitude AS source_lat, 
	source.longitude AS source_long, 
	dest.latitude AS dest_lat,
	dest.longitude AS dest_long
FROM routes r
JOIN airports source ON r.source_id = source.id
JOIN airports dest ON r.dest_id = dest.id
""")
print(*cursor.fetchmany(10), sep='\n')

(0, '2B', '410', 'AER', '2965', 'KZN', '2990', None, '0', 'CR2', '43.449928', '39.956589', '55.606186', '49.278728')
(1, '2B', '410', 'ASF', '2966', 'KZN', '2990', None, '0', 'CR2', '46.283333', '48.006278', '55.606186', '49.278728')
(2, '2B', '410', 'ASF', '2966', 'MRV', '2962', None, '0', 'CR2', '46.283333', '48.006278', '44.225072', '43.081889')
(3, '2B', '410', 'CEK', '2968', 'KZN', '2990', None, '0', 'CR2', '55.305836', '61.503333', '55.606186', '49.278728')
(4, '2B', '410', 'CEK', '2968', 'OVB', '4078', None, '0', 'CR2', '55.305836', '61.503333', '55.012622', '82.650656')
(5, '2B', '410', 'DME', '4029', 'KZN', '2990', None, '0', 'CR2', '55.408611', '37.906111', '55.606186', '49.278728')
(6, '2B', '410', 'DME', '4029', 'NBC', '6969', None, '0', 'CR2', '55.408611', '37.906111', '55.34', '52.06')
(8, '2B', '410', 'DME', '4029', 'UUA', '6160', None, '0', 'CR2', '55.408611', '37.906111', '54.64', '52.8017')
(9, '2B', '410', 'EGO', '6156', 'KGD', '2952', None, '0', 'CR2', '50.6438', '36.5901', '54.89005', '20.592633')
(10, '2B', '410', 'EGO', '6156', 'KZN', '2990', None, '0', 'CR2', '50.6438', '36.5901', '55.606186', '49.278728')

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest amount of active airlines?
- Which countries have the highest amount of inactive airlines?
- What about airports by timezones?

In [ ]:
# Which countries have the highest amount of active airports?
cursor.execute("""
-- your code here;
""")
print(*cursor.fetchall(), sep='\n')

In [ ]:
# Which countries have the highest amount of inactive airports?
cursor.execute("""
-- your code here;
""")
print(*cursor.fetchall(), sep='\n')

In [ ]:
# What about airports by timezones?
cursor.execute("""
-- your code here;""")
print(*cursor.fetchall(), sep='\n')

In [ ]:
# It's always a good idea to close our connections when we're done
cursor.close()
con.close()

## Goal 5: Transfering from sqlite to pandas

In [47]:
import pandas as pd

In [49]:
pd_con = sqlite3.connect("data/flights.db")
df = pd.read_sql_query("select * from airports limit 5;", pd_con)
df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby

**Task**: 
Convert one of the earlier queries in the lesson to a pandas data frame

In [51]:
# Which countries have the highest amount of active airports?
df = pd.read_sql_query('''SELECT r.*, 
	source.latitude AS source_lat, 
	source.longitude AS source_long, 
	dest.latitude AS dest_lat,
	dest.longitude AS dest_long
FROM routes r
JOIN airports source ON r.source_id = source.id
JOIN airports dest ON r.dest_id = dest.id
''', pd_con)

In [52]:
df

,index,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,source_lat,source_long,dest_lat,dest_long
0,0,2B,410,AER,2965,KZN,2990,None,0,CR2,43.449928,39.956589,55.606186,49.278728
1,1,2B,410,ASF,2966,KZN,2990,None,0,CR2,46.283333,48.006278,55.606186,49.278728
2,2,2B,410,ASF,2966,MRV,2962,None,0,CR2,46.283333,48.006278,44.225072,43.081889
3,3,2B,410,CEK,2968,KZN,2990,None,0,CR2,55.305836,61.503333,55.606186,49.278728
4,4,2B,410,CEK,2968,OVB,4078,None,0,CR2,55.305836,61.503333,55.012622,82.650656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67197,67658,ZL,4178,WYA,6334,ADL,3341,None,0,SF3,-33.0589,137.514,-34.945,138.530556
67198,67659,ZM,19016,DME,4029,FRU,2912,None,0,734,55.408611,37.906111,43.061306,74.477556
67199,67660,ZM,19016,FRU,2912,DME,4029,None,0,734,43.061306,74.477556,55.408611,37.906111
67200,67661,ZM,19016,FRU,2912,OSS,2913,None,0,734,43.061306,74.477556,40.608989,72.793269
67201,67662,ZM,19016,OSS,2913,FRU,2912,None,0,734,40.608989,72.793269,43.061306,74.477556

In [53]:
pd_con.close()

## Bonus: SQL-like querying in Pandas

`.query()`

[query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

In [ ]:
# Get data for an example
import pandas as pd
shelter_data=pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [ ]:
max_data = shelter_data.query('Name == "Max"')
max_data.head()

In [ ]:
#vs
shelter_data[shelter_data['Name']=="Max"].head()

In [ ]:
shelter_data.query('`Animal Type` == "Dog"').head()